<div *ngIf="changedInfo" class="mt-3 container text-center alert alert-warning">
    Se ha actualizado la información de su perfil.
</div>
<div *ngIf="deletedBook" class="mt-3 container text-center alert alert-warning">
    Se ha eliminado un libro.
</div>

<div class="profile container bg-white mt-4">
    <div class="row">
        <div class="col-5 d-flex justify-content-center align-items-center my-5">
            <img *ngIf="user.img" src="data:image/jpg;base64,{{user.img}}" class="imgProfile" alt="">
            <img *ngIf="!user.img" src="/assets/images/defaultProfile.png" class="imgProfile" alt="">
        </div>
        <div class="col-7">
            <h2 class="text-center my-4">{{user.name}} {{user.surnames}}</h2>
            <p class="mt-3">{{user.description}}</p>
            <p class="mt-4">Correo electrónico: {{user.email}}</p>
            <p class="mt-4">Fecha de nacimiento: {{user.birthday}}</p>
            <p class="mt-4 mb-4">Localidad: {{user.location}}</p>
            <div class="row d-flex justify-content-center">
                <div class="col-5">
                    <p class="valoracion text-center">Valoración del usuario:</p>
                </div>
                <div class="col-5">
                    <app-rate-stars [isUser]="true" [stars]="round(user.rating)"></app-rate-stars>
                </div>
            </div>
            <div class="row mt-4 mb-4 d-flex justify-content-center">
                <div class="col-5">
                    <button (click)="goBack()" class="btn outlineSecondary">Volver <i
                            class="bi bi-arrow-counterclockwise"></i></button>
                </div>
                <div class="col-7">
                    <button *ngIf="!userId" routerLink="/editProfile" class="btn bgSecundario">Editar perfil <i
                            class="bi bi-person-bounding-box"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!userId; else justUploaded">
        <div class="row">
            <div (click)="tabSelected = 1" [class]="(tabSelected == 1) ? 'tabSelect col-4' : 'tab col-4'">
            <span class="text-center">Mis libros subidos</span>
            </div>
            <div (click)="tabSelected = 2; getExchangedBooks(user.id)"
                [class]="(tabSelected == 2) ? 'tabSelect col-4' : 'tab col-4'"
                class="d-flex align-items-center">
                <span class="text-center">Mis intercambios</span>
            </div>
            <div (click)="tabSelected = 3; getSelledBooks(user.id)"
                [class]="(tabSelected == 3) ? 'tabSelect col-4' : 'tab col-4'"
                class="d-flex align-items-center">
                <span class="text-center">Mis ventas</span>
            </div>
        </div>

        <div *ngIf="tabSelected == 1" class="row board d-flex justify-content-center">
            <div *ngIf="!uploadedBooksList.length" class="text-white mt-4 text-center">
                <h3>¿Todavía no has subido ningún libro?</h3>
                <h4>¡Vamos a desempolvar la estantería!</h4>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3 d-flex align-items-stretch"
                *ngFor="let book of uploadedBooksList">
                <div *ngIf="book.reserved > 0" routerLink="/confirmExchanges"
                    class="reservedMark d-flex align-items-center">
                    <i class="bi bi-bookmark-star-fill"></i>
                    <span>Reservado</span>
                </div>

                <div class="row bg-white">
                    <div class="col-12 d-flex justify-content-center mt-3">
                        <img class="thumbnail" src="data:image/jpg;base64,{{book.img}}" alt="">
                    </div>
                    <div class="col-12">
                        <h3 class="titleCard text-center defaultFontStyle mt-1">{{book.title}}</h3>
                        <p class="text-center mb-1">{{book.author}}</p>
                    </div>
                    <div class="col-12 d-flex justify-content-center align-self-center mb-3">
                        <button *ngIf="!userId" [routerLink]="'/modifyBook/' + book.id" class="btn bgSecundario">Editar
                            producto <i class="bi bi-pencil-square"></i></button>
                        <button *ngIf="userId" [routerLink]="'/productView/' + book.id + '/' + userId"
                            class="btn bgSecundario mb-4">Ver libro <i class="bi bi-book"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="tabSelected == 2" class="row board d-flex justify-content-center">
            <div *ngIf="!bookOExchangedList.length" class="text-white mt-4 text-center">
                <h3>¿Todavía no has intercambiado ningún libro?</h3>
                <h4>¡Vamos a echar un vistazo al catálogo y proponer un intercambio!</h4>
            </div>

            <div *ngFor="let exchangedBook of bookPExchangedList; let i = index" class="col-10 mt-4">
                <div class="row bg-white p-3 border d-flex justify-content-center">
                    <div class="col">
                        <div class="row d-flex justify-content-center mt-3">
                            <div class="col-6">
                                <div class="row pointer" routerLink="/profile"
                                    [queryParams]="{'idUser': userPExchangedList[i].id}">
                                    <div class="col-12 col-md-6 d-flex justify-content-center">
                                        <div class="d-flex align-items-center">
                                            <img src="data:image/jpg;base64,{{userPExchangedList[i].img}}" alt=""
                                                class="roundImgProfile">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 d-flex justify-content-start">
                                        <div class="row">
                                            <div class="col-12">
                                                <h5 class="bold text-center">{{userPExchangedList[i].name}}</h5>
                                            </div>
                                            <div class="col-12">
                                                <h5 class="bold text-center">{{userPExchangedList[i].surnames}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row pointer" routerLink="/profile"
                                    [queryParams]="{'idUser': userOExchangedList[i].id}">
                                    <div class="col-12 col-md-6 order-1 order-md-0 d-flex justify-content-end">
                                        <div class="row">
                                            <div class="col-12">
                                                <h5 class="bold text-center">{{userOExchangedList[i].name}}</h5>
                                            </div>
                                            <div class="col-12">
                                                <h5 class="bold text-center">{{userOExchangedList[i].surnames}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 order-0 order-md-1 d-flex justify-content-center">
                                        <div class=" d-flex align-items-center">
                                            <img src="data:image/jpg;base64,{{userOExchangedList[i].img}}" alt=""
                                                class="roundImgProfile">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row d-flex justify-content-center mt-3">
                            <div class="col-4">
                                <h5 *ngIf="user.id == userPExchangedList[i].id" class="text-center">Ofreciste:</h5>
                                <h5 *ngIf="user.id != userPExchangedList[i].id" class="text-center">Ofreció:</h5>
                                <div class=" d-flex flex-column align-items-center">
                                    <img src="data:image/jpg;base64,{{bookPExchangedList[i].img}}" alt=""
                                        class="thumbnail">
                                </div>
                                <h5 class="bold my-4 text-center">{{bookPExchangedList[i].title}}</h5>
                            </div>
                            <div class="col-4 col-lg-2 d-flex justify-content-center align-items-center">
                                <i class="bi bi-arrow-left-right exchangeIcon"></i>
                            </div>
                            <div class="col-4">
                                <h5 *ngIf="user.id == userPExchangedList[i].id" class="text-center">Solicitaste:</h5>
                                <h5 *ngIf="user.id != userPExchangedList[i].id" class="text-center">Solicitó:</h5>
                                <div class=" d-flex flex-column align-items-center">
                                    <img src="data:image/jpg;base64,{{bookOExchangedList[i].img}}" alt=""
                                        class="thumbnail">
                                </div>
                                <h5 class="bold my-4 text-center">{{ bookOExchangedList[i].title }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="tabSelected == 3" class="row board d-flex justify-content-center">
            <div *ngIf="!selledBookList.length" class="text-white mt-4 text-center">
                <h3>¿Todavía no has vendido ningún libro?</h3>
                <h4>¡Vamos a revisar la estantería y subir algunos!</h4>
            </div>

            <div *ngFor="let selledBook of selledBookList; let i = index"
                class="col mx-1 d-flex align-items-stretch justify-content-center mt-4">
                <div class="row bg-white p-3 border">
                    <div class="col-6 d-flex align-items-center justify-content-center">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <img class="thumbnail" src="data:image/jpg;base64,{{selledBook.img}}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 mt-3">
                                <h4 class="titleCard text-center mt-1">{{selledBook.title}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-1">
                                <p class="text-center mb-1">{{selledBook.author}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-3">
                                <h4 class="text-center">Comprado por:</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-1 d-flex justify-content-center">
                                <img class="miniImgProfile" src="data:image/jpg;base64,{{buyersList[i].img}}" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">{{buyersList[i].name}} {{buyersList[i].surnames}}</div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <button routerLink="/profile" [queryParams]="{'idUser': buyersList[i].id}"
                                    class="btn bgSecundario mt-3">Visitar perfil <i
                                        class="bi bi-person-lines-fill"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #justUploaded>
        <div class="row board d-flex justify-content-center justUploaded">
            <div class="text-center text-white my-2">
                <h3>Libros subidos</h3>
            </div>
            <div class="col-6 col-sm-4 col-md-3 d-flex align-items-stretch" *ngFor="let book of uploadedBooksList">
                <div *ngIf="book.reserved > 0" class="reservedMark d-flex align-items-center">
                    <i class="bi bi-bookmark-star-fill"></i>
                    <span>Reservado</span>
                </div>
                <div class="row bg-white">
                    <div class="col-12 d-flex justify-content-center mt-3">
                        <img class="thumbnail" src="data:image/jpg;base64,{{book.img}}" alt="">
                    </div>
                    <div class="col-12">
                        <h3 class="titleCard text-center mt-1">{{book.title}}</h3>
                        <p class="text-center mb-1">{{book.author}}</p>
                    </div>
                    <div class="col-12 d-flex justify-content-center align-self-center mb-3">
                        <button [routerLink]="'/productView/' + book.id + '/' + userId"
                            class="btn bgSecundario">Ver libro <i class="bi bi-book"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <a class="uploadLink" *ngIf="!userId" routerLink="/uploadBook">
        <div class="upload d-flex align-items-center">
            <p class="text mt-2">Subir un libro</p>&nbsp;
            <i class="bi bi-plus-circle-fill"></i>
        </div>
    </a>
</div>