.profile {
    border-radius: 15px;
}

.imgProfile {
    width: 25vw;
}

.miniImgProfile {
    width: 60px;
    border-radius: 150px;
}

.thumbnail {
    height: 300px;
}

.border {
    border-radius: 15px;
}

.valoracion {
    font-size: 13px;
}

.titleCard {
    margin-bottom: -2px;
}

.tabSelect,
.tab {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.tabSelect {
    background-color: rgba(99, 61, 16, 1);
    color: white;
    user-select: none;

}

.tab {
    background-color: rgba(255, 240, 223, 1);
    user-select: none;
}

.tabSelect:hover,
.tab:hover {
    cursor: pointer;
}

.board {
    background-color: rgba(99, 61, 16, 1);
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.upload {
    position: fixed;
    top: 390px;
    right: 0;
    width: 300px;
    height: 200px;
    z-index: 999;
    margin-right: -23px;
}

.bi {
    font-size: 5vw;
}

.text {
    font-size: 2vw;
}

a,
a:visited {
    text-decoration: none;
    font-weight: bolder;
    color: rgba(99, 61, 16, 1);
    -webkit-text-stroke: 0.25px white;
}

a:hover {
    color: rgba(211, 149, 75, 1);
}

button i {
    font-size: 18px
}

.justUploaded {
    border-radius: 15px;
}

.reservedMark {
    position: absolute;
    cursor: pointer;
    color: rgba(211, 149, 75, 1);
    /* color: rgba(99, 61, 16, 1); */
    -webkit-text-stroke: 1px white;

    span {
        font-size: 20px !important;
        background-color: rgba(255, 255, 255, 0.6);
        -webkit-text-stroke: 1px black !important;
    }

    i {
        font-size: 3rem;
    }
}

@media (max-width: 900px) {
    .uploadLink {
        display: none;
    }
}

@media (max-width: 575px) {
    .reservedMark {
        margin-left: 15vw;
    }
}

.exchangeIcon {
    font-size: 80px;
    font-weight: 20px;
    color: rgba(99, 61, 16, 1);
}

.roundImgProfile {
    width: 75px;
    height: 75px;
    border-radius: 150px;
}

.pointer {
    cursor: pointer;
}