.profile {
    border-radius: 15px;
}

.imgProfile {
    width: 25vw;
}

.thumbnail {
    height: 300px;
}

.valoracion {
    font-size: 13px;
}

.titleCard {
    margin-bottom: -2px;
}

.tabSelect,
.tab {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.tabSelect {
    background-color: rgba(99, 61, 16, 1);
    color: white;
    user-select: none;

}

.tab {
    background-color: rgba(255, 240, 223, 1);
    user-select: none;
}

.tabSelect:hover,
.tab:hover {
    cursor: pointer;
}

.board {
    background-color: rgba(99, 61, 16, 1);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.upload {
    position: fixed;
    top: 400px;
    right: 0;
    width: 300px;
    height: 200px;
    z-index: 999;
}

.bi {
    font-size: 5vw;
}

.text {
    font-size: 2vw;
}

a,
a:visited {
    text-decoration: none;
    font-weight: bolder;
    color: rgba(99, 61, 16, 1);
    -webkit-text-stroke: 0.25px white;
}

a:hover {
    color: rgba(211, 149, 75, 1);
}

button i {
    font-size: 18px
}

.justUploaded {
    border-radius: 15px;
}
