<form [formGroup]="recoveryForm" class="container-fluid forgotPassword py-4 px-5">
    <div class="row">
        <h2 class="text-center mb-3">¿Olvidó la contraseña?</h2>      
    </div>
    <hr>
    <div class="row mt-4">
        <div class="col">
            <p>Escriba su correo electrónico para mandarle una contraseña temporal con la que poder iniciar sesión temporalmente.</p>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-3">
            <label for="email">Email:</label>
        </div>
        <div class="col-9">
            <input formControlName="email" class="input" type="text" placeholder="Email">
        </div>
        <div class="errorForm" *ngIf="submitted && myForm['email'].errors">
            <div *ngIf="myForm['email'].errors['required']">
                *Debes escribir un email
            </div>
            <div *ngIf="myForm['email'].errors['pattern']">
                *Escriba un email correcto
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col d-flex justify-content-center">
            <button (click)="recovery()" class="btn bgSecundario">Recuperar cuenta <i class="bi bi-person-check-fill"></i></button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col d-flex justify-content-center mt-2">
            <a routerLink="/auth/register">¿No tienes cuenta? ¡Regístrate!</a>
        </div>
    </div>
</form>