.book {
    background-color: white;
    border-radius: 15px;
}

.user {
    background-color: rgba(255, 240, 223, 1);
    border-radius: 15px;
}

.cover {
    height: 26vw;
    width: 26vw;
}

.imgMini {
    height: 150px;
    width: 150px;
}

.colImg {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.price {
    display: flex;
    align-self: center;
    color: rgba(99, 61, 16, 1);
    font-size: 60px;
    font-weight: bolder;
    text-shadow: 3px 3px 2px rgba(211, 149, 75, 1);
}

.imgProfile {
    width: 15rem;
    height: 15rem;
}

.map {
    width: 100%;
    height: 200px;
    background-color: grey;
}