.login {
    background-color: white;
    border-radius: 10px;
    width: 50vw;
    margin-top: 10vh;
    margin-bottom: 15vh;
}

a {
    text-decoration: none;
}

.input {
    width: 100%;
}

.icon {
    float: initial;
    margin-left: -30px;
    margin-top: 3px;
    position: relative;
    z-index: 2;
}