.imgProfile {
    width: 25vw;
    height: 25vw;
    border-radius: 15px;
}
@media (min-width: 768px) {
    .imgProfile {
        width: 18vw;
        height: 18vw;
    }
}
.roundImgProfile {
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.imgCover {
    height: 20vw;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .imgCover {
        height: 40vw;
    }
}

.imgMiniCover {
    height: 150px;
    border-radius: 10px;
}

.board {
    background-color: white;
    border-radius: 15px;
}

.endBuy {
    margin-top: 65px;
}

.cancelBuy {
    margin-top: -10px;
}

.price {
    display: flex;
    align-self: center;
    color: rgba(99, 61, 16, 1);
    font-size: 35px;
    font-weight: bolder;
    text-shadow: 3px 3px 2px rgba(211, 149, 75, 1);
}

@media (max-width: 480px) {
    .pPrice {
        margin-left: 70vw;
    }
}

@media (max-width: 992px) {
    .infoBook {
        display: none;
    }
}

/* The Modal (background) */
.modal {
    /* Hidden by default */
    display: none;
    /* Stay in place */
    position: fixed;
    /* Sit on top */
    z-index: 1;
    left: 0;
    top: 0;
    /* Full width */
    width: 100%;
    /* Full height */
    height: 100%;
    /* Enable scroll if needed */
    overflow: auto;
    /* Fallback color */
    background-color: rgb(0, 0, 0);
    /* Black w/ opacity */
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: rgba(255, 240, 223, 1);
    /* 15% from the top and centered */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    /* Could be more or less, depending on screen size */
    width: 80%;
    border-radius: 15px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.marginY {
    margin-top: 90px;
    margin-bottom: 90px;
}

.exchangeIcon {
    font-size: 80px;
    font-weight: 20px;
    color: rgba(99, 61, 16, 1);
}