<h3 class="text-center my-4">Intercambios y ventas pendientes</h3>

<div class="container">
    <div class="row board" *ngFor="let book of bookBuyReservedList; let i = index">
        <h4 class="text-center my-4">{{userBuyReservedList[i].name}} ha solicitado intercambio de tu libro:</h4>

        <div class="col-3 d-flex flex-column align-items-center">
            <img src="data:image/jpg;base64,{{userBuyReservedList[i].img}}" alt="" class="imgProfile">
            <h5 class="bold my-4 text-center">{{userBuyReservedList[i].name}} {{userBuyReservedList[i].surnames}}</h5>
        </div>
        <div class="col-3">
            <h5 class="bold">Sus datos de contacto:</h5>
            <p>Correo electrónico: <br>
                {{userBuyReservedList[i].email}}
            </p>

            <p class="mt-2">Número de teléfono: <br>
                {{userBuyReservedList[i].tlf}}
            </p>

            <p class="mt-2">Telegram: <br>
                {{userBuyReservedList[i].telegram || 'No especificado'}}
            </p>

            <button class="btn bgSecundario my-2">Confirmar intercambio</button>
        </div>
        <div class="col-3">
            <h5 class="bold text-end">Sobre el libro:</h5>
            <p class="text-end">Autor: <br>
                {{book.author}}
            </p>

            <p class="text-end">Estado:
                <app-rate-stars [stars]="book.state" [isUser]="true"></app-rate-stars>
            </p>

            <p class="text-end">Precio:
                <app-price class="d-flex justify-content-end" [price]="book.price"></app-price>
            </p>

            <div class="d-flex justify-content-end">
                <button class="btn outlineSecondary my-2">Rechazar intercambio</button>
            </div>
        </div>
        <div class="col-3 d-flex flex-column align-items-center">
            <img src="data:image/jpg;base64,{{book.img}}" alt="" class="imgProfile">
            <h5 class="bold my-4">El Imperio Final</h5>
        </div>
    </div>
</div>