.forgotPassword {
    background-color: white;
    border-radius: 10px;
    width: 50vw;
    margin-top: 13vh;
    margin-bottom: 15vh;
}

a {
    text-decoration: none;
}

.input {
    width: 100%;
}