.search {
    border-radius: 15px;
}

input {
    width: 90%;
    height: 37px;
    text-align: center;
}

.products {
    margin-bottom: 1.5rem;
    background-color: white;
    border-radius: 15px;
}

.cover {
    height: 300px;
}

.imgProfile {
        width:60px;
        height:60px;
        border-radius:150px;
}