<nav class="navbar navbar-expand-sm navbar-white bgSecundario">
  <div class="container-fluid">
    <a class="navbar-brand ms-2" routerLink="/index">
      <img src="/assets/Logo.png" class="logo" alt="">
    </a>
    <button class="navbar-toggler text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <i class="bi bi-list navButton"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li *ngIf="user.name" class="nav-item ms-4">
          <a class="nav-link" routerLink="/profile">Mis libros</a>
        </li>
        <li *ngIf="user.name" class="nav-item ms-4">
          <a class="nav-link" routerLink="/uploadBook">Subir libro</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link" routerLink="/products">Catálogo</a>
        </li>
      </ul>      
    </div>

    <div *ngIf="user.name" class="dropdown">
      <button class="btn dropdown-toggle text-white bgTerciario" type="button" id="dropdownMenuLink"
        data-bs-toggle="dropdown" aria-expanded="false">
        Mi perfil
        <i class="bi bi-person-fill"></i>
        <span *ngIf="pendingExchanges"
          class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger">{{ pendingExchanges
          }}</span>
      </button>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" routerLink="/profile">Mi perfil</a>
        <a class="dropdown-item exchanges" routerLink="/confirmExchanges">
          <div class="row">
            <div class="col-10">
              <p>Intercambios<br>pendientes</p>
            </div>
            <div class="col-2 d-flex flex-column justify-content-center align-items-end">
              <span *ngIf="pendingExchanges" class="badge bg-danger rounded-pill mb-3">
                {{ pendingExchanges }}</span>
            </div>
          </div>
        </a>
        <div class="d-flex justify-content-center">
          <button class="btn bgSecundario" (click)="logOut()">Cerrar sesión <i class="bi bi-power"></i></button>
        </div>
      </div>
    </div>

    <button *ngIf="!user.name" class="btn bgTerciario" routerLink="/auth/login">Iniciar sesión <i
        class="bi bi-person-check-fill"></i></button>

  </div>
</nav>