<div class="profile container bg-white mt-4">
    <div class="row">
        <div class="col-5 d-flex justify-content-center my-5">
            <img src="https://images.unsplash.com/photo-1504593811423-6dd665756598?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                alt="" class="imgProfile">
        </div>
        <div class="col-7">
            <h2 class="text-center my-4">Jorge Montes Colorín</h2>
            <p>Hola, mi nombre es Jorge y mis géneros de libro favoritos son la comedia, novela trágica y novela
                trágica. En mi tiempo libre me voy a leer y tomar café en el Starbucks.
                Tengo una Mercedes AMG que aparco en mi garaje privado y siempre doy aseleroneh. Un saludo y espero que
                mis libros te agraden.
            </p>
            <p>Correo electrónico: jorgetemontes@gmail.com</p>
            <p>Fecha de nacimiento: 12/04/1989</p>
            <div class="row">
                <div class="col-3">
                    <button class="btn bgSecundario">Editar perfil</button>
                </div>
                <div class="col-9">
                    <div class="row d-flex justify-content-center">
                        <div class="col-5">
                            <p class="valoracion text-center">Valoración del usuario:</p>
                        </div>
                        <div class="col-5">
                            <app-rate-stars [isUser]="true" [stars]="3"></app-rate-stars>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div (click)="tabSelected = 1"
            [class]="(tabSelected == 1) ? 'tabSelect col-4' : 'tab col-4'">
            Mis libros subidos
        </div>
        <div (click)="tabSelected = 2"
            [class]="(tabSelected == 2) ? 'tabSelect col-4' : 'tab col-4'">
            Mis intercambios
        </div>
        <div (click)="tabSelected = 3"
            [class]="(tabSelected == 3) ? 'tabSelect col-4' : 'tab col-4'">
            Mis ventas
        </div>
    </div>

    <div *ngIf="tabSelected == 1" class="row board">
        <div class="col-4" *ngFor="let i of [1,2,3,4,5,6,7,8,9]">
            <div class="row bg-white">
                <div class="col-12">
                    <img class="thumbnail" src="/assets/images/ElImperioFinal.jpg" alt="">
                </div>
                <div class="col-12">
                    <h3 class="text-center my-3">El Imperio Final</h3>
                </div>
                <div class="col-12 d-flex justify-content-center mb-4">
                    <button class="btn bgSecundario">Editar producto</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="tabSelected == 2" class="row board">
        pues hola2
    </div>
    <div *ngIf="tabSelected == 3" class="row board">
        hola 3 sin más
    </div>

    <div class="upload">Subir un libro!</div>
</div>