.profile {
    border-radius: 15px;
}

.imgProfile {
    width: 25vw;
}

.thumbnail {
    width: 100%;
}

.valoracion {
    font-size: 13px;
}

.tabSelect {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgba(99, 61, 16, 1);
    color: white;
}

.tab {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgba(255, 240, 223, 1);
}