.container {
    border-radius: 15px;
}

input {
    width: 100%;
    border: none;
    text-align: center;
}

img {
    width: 20vw;
}

textarea {
    width: 100%;
    height: 12vw;
    border: none;
    resize: none;
    padding: 10px;
}

@media (max-width: 768px) {
    textarea {
        height: 200px;
    }
}