<div class="footer container-fluid mt-5">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <h4 class="text-center">Síguenos en:</h4>
                </div>
                <div class="col-12 mt-3">
                    <div class="row d-flex justify-content-center">
                        <div class="col-6 col-md-1">
                            <i class="bi bi-facebook"></i>
                        </div>
                        <div class="col-6 col-md-1">
                            <i class="bi bi-twitter"></i>
                        </div>
                        <div class="col-6 col-md-1">
                            <i class="bi bi-instagram"></i>
                        </div>
                        <div class="col-6 col-md-1">
                            <i class="bi bi-github"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <p>El Banco de las Palabras está siempre ahí para sentarse y disfrutar.</p>
                    <p>¿Libros en tu estantería que no deseas tener o simpliemente ya no te gustan? No te preocupes,
                        súbelo a El Banco de las Palabras y conseguirás que tus libros tengan el privilegio de ser
                        releídos por otra persona.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="copyrights text-center">©2021-2022, El Banco de las Palabras. Todos los derechos reservados.</p>
        </div>
    </div>
</div>