<div *ngIf="reserved" class="mt-4 container text-center alert alert-warning">
    Se ha reservado el libro, será el dueño el que se ponga en contacto contigo.
</div>

<div class="container mt-4">
    <div class="row book">
        <div class="col-4 bgPrimario colImg">
            <div class="d-flex justify-content-center">
                <img *ngIf="!book.img" src="/assets/images/DefaultBook.png" class="mt-3 cover" alt="">
                <img *ngIf="book.img" src="data:image/jpg;base64,{{book.img}}" class="mt-3 cover" alt="">
            </div>
            <p class="text-center mt-3">Comparte el libro con tus amigos</p>
            <div class="d-flex justify-content-around mb-3 share">
                <i class="bi bi-twitter"></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-whatsapp"></i>
            </div>
        </div>
        <div class="col-8 pt-5 px-5">
            <div class="row">
                <h3 class="bold">{{book.author}}: {{book.title}}</h3>

                <p class="mt-4 bold">Descripción:</p>
                <p>{{book.description}}</p>
            </div>
            <div class="row mt-4">
                <div class="col-8">
                    <h6 class="bold">Estado:</h6>
                    <app-rate-stars [stars]="book.state"></app-rate-stars>
                </div>
                <app-price [price]="book.price" class="col-4"></app-price>
            </div>

            <div *ngIf="authUser.id" class="row mt-4">
                <div class="col d-flex justify-content-center">
                    <button (click)="goBack()" class="btn outlineSecondary">Volver
                        <i class="bi bi-arrow-counterclockwise"></i></button>
                </div>
                <div class="col d-flex justify-content-center">
                    <button [disabled]="reserved ? true : false" (click)="chooseBook()"
                        class="btn bgSecundario">Intercambiar <i class="bi bi-arrow-left-right"></i></button>
                </div>
                <div class="col d-flex justify-content-center">
                    <button [disabled]="reserved ? true : false" (click)="showPurchaseModal = true"
                        class="btn bgSecundario">Comprar <i class="bi bi-cart-check-fill"></i></button>
                    <!-- routerLink="/purchase/1" -->
                </div>
            </div>
            <div *ngIf="!authUser.id" class="row mt-4">
                <div class="col d-flex justify-content-center">
                    <div class="row">
                        <div class="col-7">
                            <p class="signIn">Inicia sesión en el Banco de las Palabras para poder comprar o
                                intercambiar el libro.</p>
                        </div>
                        <div class="col-5 d-flex align-items-center justify-content-between">
                            <button class="btn bgTerciario" routerLink="/auth/login">Iniciar sesión <i
                                    class="bi bi-person-check-fill"></i></button>
                            <button (click)="goBack()" class="btn outlineSecondary">Volver <i
                                    class="bi bi-arrow-counterclockwise"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row user mt-4">
        <div class="col-5">
            <div class="row">
                <p class="bold text-center my-3">Otros libros del usuario:</p>
                <div *ngFor="let i of [1,2]" class="col-12 mb-3">
                    <div class="row">
                        <div class="col-8 d-flex justify-content-center flex-column">
                            <h5>Brandon Sanderson: El Imperio Final</h5>
                            <app-rate-stars [stars]="4"></app-rate-stars>
                            <button class="btn bgSecundario">Ver <i class="bi bi-book-half"></i></button>
                        </div>
                        <div class="col-4">
                            <img class="imgMini" src="/assets/images/ElImperioFinal.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7 bg-white profile">
            <div class="row">
                <div class="col-7 mt-4 d-flex flex-column align-self-center">
                    <h3 class="text-center bold mt-2">{{user.name}} {{user.surnames}}</h3>
                    <p class="text-center mt-4">8 productos</p>
                    <p class="text-center mt-4"><span class="bold">Ubicación: &nbsp;</span> {{user.location}}</p>
                    <div class="col-12 d-flex justify-content-center">
                        <button routerLink="/profile" [queryParams]="{'idUser': user.id}"
                            class="btn bgSecundario mt-3">Visitar perfil <i
                                class="bi bi-person-lines-fill"></i></button>
                    </div>
                    <!-- <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d666.2203779737522!2d-4.478393117679868!3d37.4112044661761!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6d70ce974c2423%3A0x440c7613e1515361!2s14900%20Lucena%2C%20C%C3%B3rdoba!5e0!3m2!1ses!2ses!4v1649783284300!5m2!1ses!2ses"
                        class="map" allowfullscreen="true" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                    <!-- <google-map class="map" width="300px" height="200px" [center]="center" [zoom]="zoom">
                    </google-map> -->
                </div>

                <div class="col-5">
                    <div class="row">
                        <div class="col-12 mt-4 d-flex align-items-center">
                            <img class="imgProfile mt-5" src="data:image/jpg;base64,{{user.img}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal" [style]="showModal ? 'display: block;' : 'display: none;'">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="row mb-4">
            <div class="col-11">
                <h2 *ngIf="bookList.length" class="text-center mt-3 ms-5">Seleccione uno de sus libros para intercambiar
                </h2>
                <h2 *ngIf="!bookList.length" class="text-center mt-3 ms-5">¡Vaya, parece que no tienes ningún libro para
                    intercambiar!</h2>
            </div>
            <div class="col-1">
                <i class="bi bi-x close" (click)="showModal = false"></i>
                <!-- <span (click)="showModal = false" class="close">&times;</span> -->
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-12 col-sm-6 col-md-4 mb-5" *ngFor="let book of bookList">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <img src="data:image/jpg;base64,{{book.img}}" alt="" class="modalCover">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4 class="text-center mt-2">{{book.title}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <button class="btn bgSecundario">Seleccionar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-6 d-flex justify-content-center">
                <button class="btn outlineSecondary" (click)="showModal = false">Cancelar <i
                        class="bi bi-arrow-counterclockwise"></i></button>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <button routerLink="/uploadBook" class="btn bgSecundario">Subir un libro <i
                        class="bi bi-arrow-up-circle"></i></button>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal" [style]="showPurchaseModal ? 'display: block;' : 'display: none;'">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="row mb-4 d-flex justify-content-center">
            <div class="col-11">
                <h2 class="text-center mt-3 ms-5">¿Quieres comprar el libro "{{book.title}}"?
                </h2>
            </div>
            <div class="col-1">
                <i class="bi bi-x close" (click)="showPurchaseModal = false"></i>
            </div>
            <div class="col-10">
                <p class="text-center">Al hacer click en <span class="bold">"Confirmar compra"</span> se le informará al
                    dueño del libro de tu solicitud y será él quien decidirá si
                    aceptar la compra y ponerse en contacto contigo.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-6 d-flex justify-content-end">
                <button class="btn outlineSecondary" (click)="showPurchaseModal = false">Cancelar <i
                        class="bi bi-arrow-counterclockwise"></i></button>
            </div>
            <div class="col-6 d-flex justify-content-start">
                <button (click)="confirmPurchase()" class="btn bgSecundario">Confirmar compra <i
                        class="bi bi-arrow-up-circle"></i></button>
            </div>
        </div>
    </div>
</div>