.book {
    background-color: white;
    border-radius: 15px;
}

.user {
    background-color: rgba(255, 240, 223, 1);
    border-radius: 15px;
}

.cover {
    height: 26vw;
}

.imgMini {
    height: 150px;
    width: 150px;
}

.colImg {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.imgProfile {
    width: 15rem;
    height: 15rem;
}

.map {
    width: 100%;
    height: 200px;
    background-color: grey;
}

.profile {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.share .bi {
    font-size: 22px !important;
}