<nav class="navbar navbar-expand-lg navbar-white bgSecundario">
  <div class="container-fluid">
    <a class="navbar-brand ms-2" routerLink="/index">
      <img src="/assets/Logo.png" class="logo" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ms-4">
          <a class="nav-link" routerLink="/auth/login">Login</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" routerLink="/auth/register">Register</a>
        </li>
      </ul>
    </div>

    <div class="dropdown">
      <button class="btn dropdown-toggle text-white bgTerciario me-5" type="button" id="dropdownMenuLink"
        data-bs-toggle="dropdown" aria-expanded="false">
        Mi perfil
        <i class="bi bi-person-fill"></i>
        <span class="badge bg-danger">5</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" routerLink="/profile">Mi perfil</a>
        <a class="dropdown-item" href="#"><span class="badge bg-danger">5</span>Intercambios<br>pendientes</a>
        <div class="d-flex justify-content-center mt-2">
          <button class="btn bgSecundario" href="#">Cerrar sesión <i class="bi bi-power"></i></button>
        </div>
      </div>
    </div>

  </div>
</nav>