a {
    color: white;
}

a:hover,
a:focus {
    color: rgba(99, 61, 16, 1)
}

.logo {
    width: 50px;
}

.dropdown-menu {
    width: 100%;
    background-color: rgba(255, 240, 223, 1);
}

.dropdown-item {
    color: black;
}

.dropdown-item:hover {
    background-color: white;
    color: black;
}