.register {
    background-color: white;
    border-radius: 10px;
    width: 50vw;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

@media (max-width: 691px) {
    .register {
        width: 90%;
    }
}

a {
    text-decoration: none;
}

.input {
    width: 100%;
}

.icon {
    float: initial;
    margin-left: -30px;
    margin-top: 3px;
    position: relative;
    z-index: 2;
}